/*timetable css code*/
.fc-title {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.fc-list-item-title {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.fc-list-item :hover {
    color: black;
}

.fc-list-item {
    background: #536050;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: #0ca99a;
}

.btn-primary:disabled {
    color: black;
    background-color: #0ca99a;
    border-color: #0ca99a;
}

.btn-primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #0ca99a;
    border-color: #0ca99a;
}

.fc-time-grid .fc-bgevent,
.fc-time-grid .fc-event {
    position: initial;
}

.fc-time-grid .fc-slats td {
    height: 5.5em;
    border-bottom: 0;
}

.fc-time-grid .fc-content-col {
    position: absolute;
}

.fc-today-button {
    display: inline;
}

tr:first-child>td>.fc-day-grid-event {
    margin-top: -13px;
}

/*timetable css end code*/