/* start calender btn css start */
.fc-list-item-time,
.fc-list-item-title {
    color: #852d2d;
}
.btn-primary {
    color: #fff;
    border-color: #0ABAB5;
    background-color: #6FC6CC;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #108b92;
    border-color: #6cc7d0;
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: black;
    background-color: #95dfd0;
    border-color: #6cc7d0;
}
.btn-primary:hover {
    color: #fff;
    background-color: #108b92;
    border-color: #6cc7d0;
}
/* start calender btn css end */
/* Customize the fc-today highlight background color */
/* teacher */
#teacher_calendor .fc-today {
    background-color: #fff;
    border-color: #ADD8E6;
    font-weight: bold;
    /* Change this to your preferred color */
}
#teacher_calendor .fc-day-header.fc-today {
    background-color: #E9D528;
}
/* admin,staff */
#new_calendor .fc-today {
    background-color: #fff;
    border-color: #ADD8E6;
    font-weight: bold;
    /* Change this to your preferred color */
}
#new_calendor .fc-day-header.fc-today {
    background-color: #E9D528;
}
/* student,parent */
#student_calendor .fc-today {
    background-color: #fff;
    border-color: #ADD8E6;
    font-weight: bold;
    /* Change this to your preferred color */
}
#student_calendor .fc-day-header.fc-today {
    background-color: #E9D528;
}