.etext {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #373E48;
}
.eoppps {
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: #373E48;
    font-size:45px;
}