.bg {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(40px);
	height: 165px;
}

.auth-user-testimonial {
	position: absolute;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px;
}

.footer {
	bottom: 0;
	padding: 19px 15px 20px;
	position: unset;
	right: 0;
	left: 240px;
	background-color: whitesmoke;
	font-family: 'Open Sans';
	font-style: normal;
	color: #6D7C92;
}

.text {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -0.02em;
	color: #F8FAFC;
	text-align: center;
}

.welcomeback {
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 35px;
	line-height: 48px;
	letter-spacing: -0.02em;
	color: #343556;
}

.smk {
	height: 72px;
	background: #D2EDEF;
	border-radius: 8px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	color: #16191D;
	width: 100%;
	padding-left: 10px;
}

.login-email {
	box-sizing: border-box;
	border: 1px solid #D3D8DE;
	border-radius: 8px;
}

.sign {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #6D7C92;
}

.forget {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #4F8D91;
}

.signin {
	height: 50px;
	background: #6FC6CC;
	border-radius: 8px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: none;
	order: 0;
	flex-grow: 0;
	color: #F8FAFC;
}

.passrecov {
	width: 320px;
	height: 36px;
	left: 511px;
	top: 291px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 48px;
	text-align: left;
	letter-spacing: -0.02em;
	color: #343556;
}

.opoos {
	width: 352px;
	height: 40px;
	left: 511px;
	top: 343px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 20px;
	color: #6D7C92;
	text-align: left;
}

.cancel {
	height: 50px;
	background: #EE4F4F;
	border-radius: 8px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.para {
	text-align: left;
}

.body {
	background: url("../assets/images/password.jpg");
	background-repeat: no-repeat;
}

.passfooter {
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #6D7C92;
}

/*body
{
  margin:0;
  padding:0;
  
}*/
.ring {
	transform: translate(84%, -10%);
	width: 140px;
	height: 150px;
	background: transparent;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-family: sans-serif;
	letter-spacing: 4px;
	text-shadow: 0 0 10px #fff000;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #586474;

}

.ring:before {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	border-top: 3px solid #fff000;
	border-right: 3px solid #fff000;
	border-radius: 50%;
	animation: animateC 2s linear infinite;
}