    .menu-arrow 
    {
        transition: transform .15s;
        position: absolute;
        right: 10px;
        display: inline-block;
        font-family: 'Material Design Icons';
        text-rendering: auto;
        line-height: 1.5rem;
        font-size: 1.1rem;
        transform: translate(0, 0);
    }

  